#index {
  background-image: url(../images/bluecode.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0%;
  font-family: "Racing Sans One", sans-serif; }

.jumbotron {
  margin: 0%;
  padding: 3px;
  background-image: linear-gradient(to right, #030320, blue, #84b1f3);
  color: #b8d0f1;
  font-family: "Racing Sans One", sans-serif; }

#cert {
  background-color: #ebe4e4;
}

.jumbotron-pic {
  border-radius: 10%;
  width: 10%; }

#title {
  font-size: 48px;
  text-align: center; }

#sub-title {
  text-align: center; }

img {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8); }

fieldset {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); }

#contact-fieldset {
  border: black solid 2px;
  background-color: #cac7c7;
  padding-bottom: 3%;
  padding-top: 2%;
  padding-left: 8%;
  padding-right: 8%;
  margin-left: 3%;
  margin-right: 3%; }

#skill-fieldset {
  border: black solid 2px;
  background-color: #cac7c7;
  padding-bottom: 4%;
  padding-top: 2%;
  padding-left: 2%; }

#rec-fieldset {
  border: black solid 2px;
  background-color: #cac7c7; }

#github-fieldset {
  border: black solid 2px;
  background-color: #cac7c7;
  text-align: center;
  padding-bottom: 1%;
  margin-left: 10%;
  margin-right: 10%; }

#training-fieldset {
  border: black solid 2px;
  background-color: #cac7c7; }

.training-pic {
  width: 20%; }

#about-fieldset {
  border: black solid 2px;
  background-color: #cac7c7; }

#career-fieldset {
  border: black solid 2px;
  background-color: #cac7c7; }

.legend {
  text-align: center;
  color: #b8d0f1;
  background-image: linear-gradient(to right, #030320, blue, #84b1f3);
  padding-left: 3%;
  padding-right: 3%; }

.card {
  background-color: #84b1f3;
  padding: 2%;
  margin: 3% 5%;
  border: solid #cac7c7; }

.contact {
  text-align: center; }

.progress {
  width: 150px;
  height: 12px; }

.skills {
  text-decoration: underline; }
